* {font-family: 'Josefin Sans', sans-serif;}

/*-----------------------------------------------Propiedades del container ----------------------------------------------------- */
.container {
    display: grid;
    grid-template: 2fr 3fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: "falsologo navbar links" 
                        "img img buttons" 
                        "footer footer footer";
    height: 720px;
    gap: 10px;
}

.item {
    max-width: max-content;
}

/*----------------------------------------------- Barra de Navegación  --------------------------------------------------------- */
 /* LOGO */
.falsologo {
    grid-area: falsologo;
    font-size: 30px;
    padding: 30px;
}

.navbar {
    grid-area: navbar;
}
 /* LINKS */
.links {
    grid-area: links;
}

li > a {
    text-decoration: none;
    font-size: 26px;
    color: black;
}

/*----------------------------------------------------- Botones Derecha -------------------------------------------------------- */

.buttons {
    grid-area: buttons;
}

/* ---------------------------------------------------------------Image ----------------------------------------------------------- */

.img {
    grid-area: img;
}

/* ---------------------------------------------------------------Footer --------------------------------------------------------  */

.footer {
    grid-area: footer;
}