html {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(images/london.jpeg);
}


/*-----------------------------------------------Propiedades de los containers ----------------------------------------------------- */
/* pagina principal */
.container1 {
    display: grid;
    height: 745px;
    grid-template: 2fr 3fr 1fr / 1fr 0.5fr 1fr;
    grid-template-areas: "falsologo navbar links"
        "img img buttons"
        "pie pie pie";
    margin: -8px;
}

.container2 {
    display: grid;
    height: 780px;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 0.4fr 1fr 1fr 1fr 0.4fr;
}

/* carta de comidas */
.container3 {
    display: grid;
    height: 1920px;
    grid-template: 1fr 2fr 2fr 2fr 2fr 2fr / 1fr 0.5fr 1fr;
    grid-template-areas: "falsologo navbar links";
    margin: -8px;
}

/* carta de bebidas */
.container4 {
    display: grid;
    height: 1920px;
    grid-template: 1fr 2fr 2fr 2fr 2fr 2fr / 1fr 0.5fr 1fr;
    grid-template-areas: "falsologo navbar links";
    margin: -8px;
}

/* página de reservas */
.container5 {
    display: grid;
    height: 745px;
    grid-template: 2fr 3fr 1fr / 1fr 0.5fr 1fr;
    grid-template-areas: "falsologo navbar links";
    margin: -8px;
}

/* página de temporada */
.container6 {
    display: grid;
    height: 1600px;
    grid-template: 1fr 2fr 2fr 2fr / 1fr 0.5fr 1fr;
    grid-template-areas: "falsologo navabar links";
    margin: -8px;
}

.item {
    max-width: max-content;
    color: white;
}

/*----------------------------------------------- Barra de Navegación  --------------------------------------------------------- */
/* LOGO */
.falsologo {
    grid-area: falsologo;
    font-size: 25px;
    padding: 30px 30px 30px 50px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    grid-area: navbar;
}

/* LINKS */
.links {
    grid-area: links;
    text-align: left;
}

li>a {
    text-decoration: none;
    font-size: 26px;
    color: white;
}

li>a:hover {
    font-size: 28px;
    color: #ff8400;
}

/*----------------------------------------------------- Botones Derecha -------------------------------------------------------- */

.buttons {
    grid-area: buttons;
    margin-left: 40px;
}

.btn1 {
    font-size: 35px;
    border: 4px solid;
    padding: 24px;
    transition: all 0.3s;
}

.btn1:hover {
    background-color: #83764F;
    /* color: #664229; */
    transform: translateY(-10px);
}

.btn2 {
    font-size: 35px;
    border: 4px solid;
    padding: 24px;
    max-width: max-content;
    transition: all 0.3s;
}

.btn2:hover {
    /* color: #ff8400; */
    background-color: #664229;
    transform: translateY(-10px);
}

/* ---------------------------------------------------------------Image ----------------------------------------------------------- */

.img {
    grid-area: img;
}

/* ---------------------------------------------------------------Footer --------------------------------------------------------  */

.pie {
    grid-area: pie;
    display: flex;
    background-color: #664229;
    max-width: none;
    justify-content: space-around;
    align-items: center;
}

.campo-formulario {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
    background-color: #83764F;
    border: 2px solid #fff;
    padding: 8px 15px;
    color: white;
    -webkit-box-shadow: 6px 5px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 5px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 5px 16px 0px rgba(0, 0, 0, 0.75);
}

::placeholder {
    color: white;
    opacity: 1;
}

.btn {
    background-color: #83764F;
    font-size: 15px;
    border: 2px solid;
    padding: 8px 15px;
    color: white;
    width: max-content;
    height: max-content;
    transition: all 0.3s;
    cursor: pointer;
}

/*---------------------------------------------------------------Scroll -----------------------------------------------------------*/

.recuadro1 {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    /* border: dashed 4px; */
    padding: 20px;
    font-size: 30px;
    background-color: burlywood;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.recuadro2 {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    background-image: url(images/chef.jpg);
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Comida--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------------- Entrantes -----------------------------------------------------------------*/

.img1 {
    background-image: url(images/carta\ comida.jpg);
    grid-row: 2 / span 2;
    grid-column: 3;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.entrantes {
    background-color: #664229;
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-bottom: 72px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.clase {
    color: white;
    font-size: 35px;
    text-align: center;
}


.comida {
    text-align: center;
    font-size: 26px;
}

/* para el media querie */
.entree {
    font-size: 26px;
}

/* --------------------------------------------------------------- mains ------------------------------------------------------------*/

.mains {
    background-color: #664229;
    grid-row: 4 / 6;
    grid-column: 2 / span 3;
    margin-right: 50px;
    margin-bottom: 72px;
    color: white;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.img2 {
    grid-row: 4 / 6;
    grid-column: 1 / span 1;
    background-image: url(images/Blog-Tecnicas-de-cocina-para-chef.webp);
    margin-left: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

/* -------------------------------------------------------------- dessert -----------------------------------------------------------*/

.img3 {
    background-image: url(images/postres.jpg);
    grid-row: 6;
    grid-column: 3;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}


.desserts {
    background-color: #664229;
    grid-row: 6;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-bottom: 72px;
    color: white;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Bebidas--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.img-bebidas {
    background-image: url(images/Bebidas-alcohólicas.jpeg);
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    margin-left: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.carta-bebidas {
    background-color: #400E32;
    grid-row: 2 / span 2;
    grid-column: 2 / span 3;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);

}

.bebidas {
    text-align: center;
    font-size: 26px;
    color: white;
    padding-right: 35px;
}

/* ----------------------------------------------------------------------- Cocktails ----------------------------------------------------------------------------------*/

.img-cocktails {
    background-image: url(images/1img.jpg);
    grid-row: 4 / 6;
    grid-column: 3;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.carta-cocktails {
    background-color: #400E32;
    grid-row: 4 / 6;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

/* para el media querie */

.cocktails {
    font-size: 26px;
}

/* ------------------------------------------------------------------- Softs  -----------------------------------------------------*/

.img-softs {
    background-image: url(images/img2.jpg);
    grid-row: 6;
    grid-column: 1 / 2;
    margin-left: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.carta-softs {
    background-color: #400E32;
    grid-row: 6;
    grid-column: 2 / span 2;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Reservas-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.img-reservas {
    background-image: url(images/reservas.jpg);
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.recuadro-reservas {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
    background-color: #83764F;
    grid-row: 2 / span 2;
    grid-column: 3;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.btn-reservas {
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: max-content;
    height: max-content;
    grid-row: 2;
    grid-column: 3;
    align-self: center;
    /* position: relative;
    top: 150px;
    left: 200px; */
    transition: all 0.3s;
    /* margin-left: 20px; */
    cursor: pointer;
}

.btn-reservas:hover {
    background-color: white;
    color: #83764f;
    transform: translateY(-10px);
}

.txt1-reservas {
    font-size: 22px;
    text-align: center;
    /* position: relative;
    top: 180px; */
    color: #fff;
    grid-row: 4;
    grid-column: 3;
}

/* la parte de javascript  */

.btn-mas {
    grid-row: 3;
    grid-column: 3;
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
    align-self: center;
    justify-self: start;
    cursor: pointer;
}

.btn-mas:hover {
    background-color: white;
    color: #83764f;
    transform: translateY(-10px);
}

.btn-menos {
    grid-row: 3;
    grid-column: 3;
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
    align-self: center;
    justify-self: end;
    cursor: pointer;
}

.btn-menos:hover {
    background-color: white;
    color: #83764f;
    transform: translateY(-10px);
}

.contador {
    grid-row: 3;
    grid-column: 3;
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: #fff;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
}

.btn-reservas1 {
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: max-content;
    height: max-content;
    grid-row: 2;
    grid-column: 3;
    align-self: center;
}

.btn-siguiente {
    grid-row: 4;
    grid-column: 3;
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: max-content;
    height: max-content;
    align-self: center;
    justify-self: center;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-siguiente:hover {
    background-color: white;
    color: #83764f;
    transform: translateY(-10px);
}

.btn-siguiente1 {
    grid-row: 4;
    grid-column: 3;
    font-size: 26px;
    background-color: transparent;
    border: 2px solid;
    border-radius: 20px;
    padding: 15px;
    color: white;
    width: max-content;
    height: max-content;
    align-self: center;
    justify-self: center;
    transition: all 0.3s;
    cursor: pointer;
}

.btn-siguiente1:hover {
    background-color: white;
    color: #83764f;
    transform: translateY(-10px);
}

.etiqueta {
    font-size: 22px;
    text-align: center;
    color: #fff;
    grid-row: 2;
    grid-column: 3;
}

.input-fecha {
    grid-row: 3;
    grid-column: 3;
    font-size: 22px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 2px;
    overflow: visible;
    -webkit-box-shadow: -1px 2px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 31px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 31px -4px rgba(0,0,0,0.75);
}

.input-nombre {
    grid-row: 3;
    grid-column: 3;
    font-size: 22px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 2px;
    overflow: visible;
    -webkit-box-shadow: -1px 2px 31px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 31px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 31px -4px rgba(0,0,0,0.75);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Temporada2023-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.img-temporada {
    background-image: url(images/Sopa-caliente.jpg);
    grid-row: 2;
    grid-column: 1 / span 1;
    margin-left: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.recuadro-temporada {
    background-color: #83764F;
    grid-row: 2;
    grid-column: 2/ span 3;
    margin-right: 50px;
    margin-bottom: 72px;
    font-size: 30px;
    color: white;
    padding: 20px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.img-carta-temp {
    background-image: url(images/recuadrotemp.webp);
    grid-row: 3 / span 4;
    grid-column: 2 / span 3;
    margin-right: 50px;
    margin-bottom: 72px;
    -webkit-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

.recuadro-carta-temp {
    background-color: #83764F;
    grid-row: 3 / span 4;
    grid-column: 1 / span 2;
    margin-left: 50px;
    margin-bottom: 72px;
    color: #fff;
    padding: 20px;
    -webkit-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
    box-shadow: -6px 12px 13px 6px rgba(0, 0, 0, 0.75);
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------MediaQueries-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1400px) {
    .recuadro1 {
        font-size: 28px;
    }

    .clase,
    .comida,
    .bebidas {
        font-size: 24px;
    }

    .recuadro-temporada,
    .recuadro-carta-temp {
        font-size: 23px;
    }
}

@media (max-width: 1161px) {
    .recuadro1 {
        font-size: 25px;
    }

    .clase,
    .comida,
    .bebidas {
        font-size: 22px;
    }

    .recuadro-temporada,
    .recuadro-carta-temp {
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 960px) {
    .recuadro1 {
        font-size: 22px;
    }

    .item {
        font-size: 22px;
    }

    .btn1,
    .btn2 {
        border: solid 1px;
    }

    li>a {
        font-size: 25px;
    }

    .campo-formulario {
        font-size: 10px;
    }

    div>h2 {
        font-size: 15px;
    }

    .clase,
    .comida,
    .bebidas {
        font-size: 18px;
    }

    .recuadro-temporada,
    .recuadro-carta-temp {
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 650px) {
    .recuadro1 {
        font-size: 22px;
    }

    .item {
        font-size: 20px;
    }

    li>a {
        font-size: 22px;
    }

    .clase,
    .comida,
    .bebidas {
        font-size: 15px;
    }

    .txt1-reservas,
    .btn-reservas {
        font-size: 18px;
        margin: 0;
    }

    .recuadro-temporada,
    .recuadro-carta-temp {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (max-width: 480px) {
    .recuadro1 {
        font-size: 16px;
    }

    .clase,
    .comida,
    .bebidas {
        font-size: 14px;
    }

    .recuadro-temporada,
    .recuadro-carta-temp {
        font-size: 12px;
    }


    .carta-bebidas {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

}

@media (max-width: 400px) {
    .item {
        font-size: 14px;
    }

    .recuadro1 {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .entree {
        font-size: 11px;
    }

    .comida {
        margin-right: 19px;
    }

    .cocktails {
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .img-reservas {
        grid-row: 2;
        grid-column: 1;
    }

    .recuadro-reservas {
        grid-row: 2;
        grid-column: 2 / span 3;
    }

    .recuadro-carta-temp {
        font-size: 10px;
        padding: 0;

    }

    .btn1,
    .btn2 {
        margin-right: 20px;
    }

    .pie {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: none;
    }

    .btn {
        width: 50%;
    }

    .campo-formulario {
        margin-left: 10px;
    }

    .entrantes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px;
    }
}