* {font-family: 'Josefin Sans', sans-serif;}

.container {
    display: grid;
    grid-template: 1fr 190px 16% / 0.5fr 1fr 1fr ;
}

.links {
    grid-column: 3;
    grid-row: 1 
}   

header {
    text-align: left;
    grid-column: 1 / span 2;
    padding: 40px
}

div > a {
    text-decoration: none;
    font-size: 28px;
    color: black
}

div > a:hover {
    color: lightblue;
}

.button1 {
    border: 2px solid;
    font-size: 40px;
    max-width: max-content;
    padding: 20px;
}

.button2 {
    border: 2px solid;
    font-size: 40px;
    max-width: max-content;
    padding: 20px;
}

.button1:hover, .button2:hover {
    background-color: lightblue;
    color: white;
}

.footer {
    grid-column: 1 / span 4;
    grid-row-start: 3;
    background-color: aquamarine;
    margin: -8px;
}

.item1 {
    grid-column: 1 / span 2;
    max-width: max-content;
    padding: 20px;
}